<?xml version="1.0"?>
<!--
/**
 * @category   Shipping
 * @package    Eniture_WweLtlFreightQuotes
 * @author     info@eniture.com
 * @website    http://ess.eniture.com
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Eniture_WweLtlFreightQuotes" setup_version="2.0.9">
    </module>
</config>