<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="wweltl_tab" frontName="orderdetailwidget_wweltl">
            <module name="Eniture_WweLTLFreightQuotes" />
        </route>
    </router>
</config>
